* {
}
input {
  display: block;
}
.btn-detail{
  margin-bottom: 20px;
}
label{
  height: 20px;
  width: 30px;
  background-color:antiquewhite;
}
.plan_date{
  background-color: aquamarine;
  padding: 10px;
}