@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Yuji+Hentaigana+Akebono&display=swap');

:root{
    --main-font-color: #414141;
    --button-color: 224,32,68;
    --sub-font-color: #ffffff;
    --main-background-color: #F5F5F5;
    --footer-color: #EAEAEA;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: var(--main-font-color);
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--main-background-color);
}
main{
    position: relative;
    z-index: 0;
}

main::before{
    content: '';
    position: absolute;
    z-index: -1;
    /* background-image: url(https://source.unsplash.com/8UWrhU209PQ); */
    background-size: cover;
    filter: brightness(80%) blur(2px);
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background-attachment: fixed;
    height: auto;
    min-height: 100vh;

}
/* header */
header{
    position: absolute;
    top: 0;
    color: var(--sub-font-color);
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid var(--sub-font-color);
}
.header-content{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding: 5px 10px;
}
.header-content a{
    text-decoration: none;
}
.header-content a:visited{
    color: var(--sub-font-color);
}

/* board-header */
.board-header-wrap{
    padding: 30px;
    padding-top: 70px;
}
.board-header{
    background-color: rgba(224,32,68,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* board-content */
.board-content{
    padding: 0 30px;
    display: flex;
    overflow: scroll;
}
.day-board{
    background-color: rgba(225,255,255,0.4);
    width: 270px;
    min-width: 270px;
    margin-right: 20px;
    height: 100%;
    border-radius: 8px;
    padding: 10px 20px;
}
.day-board-header{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 10px;
}
.plan{
    margin-bottom: 20px;
    background-color: rgba(225,255,255,0.8);
    border-radius: 8px;
    padding: 15px 20px;
}
.plan-time{
    font-size: 22px;
    margin-bottom: 5px;
}
.plan-content{
    word-wrap: break-word;
}
.plan label{
    display: block;
}
.plan label:not(:first-child){
    margin-top: 5px;
}
.plan input + p{
    text-align: center;
}
.plan input,
.plan textarea{
    border-radius: 8px;
    border: none;
    min-width: 100%;
    padding: 9px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    resize: none;   
    font-family: 'Noto Sans', sans-serif;
}
.plan input:focus,
.plan textarea:focus{
  outline: none;
}
.plan button{
    background-color: rgba(var(--button-color),.3) ;
    border: none;
    display: block;
    padding: 8px 20px;
    text-align: right;
    margin: 8px 0 0 auto;
}
/* footer */
footer{
    background-color: var(--footer-color);
    text-align: center;
    padding: 2px 0;
    position: fixed;
    z-index: 1;
    width: 100vw;
    bottom: 0;
}
footer p{
    font-size: 15px;
}