$color-text: rgb(107, 105, 92);
$color-theme: rgb(157, 220, 220);
$color-base: rgb(255, 244, 225);
$color-accent: rgb(230, 122, 122);
$color-white: rgb(255, 255, 255);

// google font
@import url('https://fonts.googleapis.com/css2?family=Judson:wght@400;700&family=Noto+Sans:wght@100&family=Pacifico&family=Yuji+Hentaigana+Akebono&display=swap');
// google icons
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');


$font-logo: 'Pacifico', cursive;
$font-base: "Source Serif Pro", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main::before {
  display: block;
  content: "";
  height: 70px;
}
main::after {
  display: block;
  content: "";
  height: 80px;
}
html {
  font-size: 62.0%;
}
main{
  background-image: url(../images/beach-image.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: $font-base;
  color: $color-text;
  min-height: 100vh;
}

@mixin mobileView {
  @media screen and (max-width: 767px) {
    @content;
  }
}